.plcs{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     width: 100%;
     padding: 0px 3%;
}

.places h1{
     font-size: 50px;
     padding-left: 30px;

}



/* just style */
.places article{
     width: 390px;
     padding: 20px;
     margin: 20px;
     border:1px solid #ff5a5f;
     border-radius: 4px;
     align-self: flex-end;
}


.places article h2{
     font-size: 30px;
     margin-top: 0px;
     text-align: center;
}
