
.filters {

     height: 25%;
     width: 100%;
     border: 1px solid #dddddd;
     border-radius: 4px;

     /* start with the flexbox */
     display: flex;
     justify-content: space-between;

}

.filters button {
     font-size: 18px;
     background-color: #DD5A5F;
     color: #ffffff;
     height: 48px;
     width: 20%;
     border-radius: 4px;
     border: 0;
     margin-right: 30px;
     margin: 20px 30px;
     /* start with the flexbox */
     align-self: center;
}

.menu {
     display: flex;
     justify-content: space-between;
     width: 50%;
}


.locations  .amenities{
     height: 100%;
     padding-top: 100px;
}

.amenities .popover{
     max-height: 70px;
     font-size: 25px;
}


.popover {
     background-color: #FAFAFA;
     max-height: 400px;
     width: 13.8%;
     padding-top: 30px;
     border: 1px solid #dddddd;
     display: none;
     position: absolute;
     z-index: 1;
}

ul.popover {
     margin-top: 6px;
}

.popover h2 {
     margin: 0px;
}

.popover li:last-child {
     margin-bottom: 20%;
}



.locations h3,  .amenities h3{

     padding-top:  13% ;
     font-weight: 600;
     margin: 2px 20px;
     font-size: 20px;
}

.locations h4,  .amenities h4{
     font-weight: 400;
     font-size: 14px;
     margin: 2px 20px;
}

.filters button:hover {
     opacity: 90%;
}

.locations {
     width: 50%;
}

.amenities {
     border-left: 1px solid  #DDDDDD;
     width: 50%;
}

/* This is for the point in the list */
ul {
     list-style-type: none;
}

.amenities:hover .popover{
     padding-bottom: 10%;
     display: block;
}

.locations:hover .popover{
     padding-bottom: 10%;
     display: block;
}
