.plcs{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     width: 100%;
     padding: 0px 3%;
}

.places h1{
     font-size: 50px;
     padding-left: 30px;

}

/* just style */
.places article{
     width: 390px;
     height: 400px;
     padding: 20px;
     margin: 20px;
     border:1px solid #ff5a5f;
     border-radius: 4px;
     align-self: flex-end;
}

.places article h2{
     font-size: 40px;
     margin-top: 8px;
     text-align: center;
}


.max_guest {
     background-image: url(../images/icon_group.png);
     background-repeat: no-repeat;
     width: 100px;
     margin: 10px;
}
.number_rooms{
     background-image: url(../images/icon_bed.png);
     background-repeat: no-repeat;
     width: 100px;
     margin: 10px;
}
.number_bathrooms{
     background-image: url(../images/icon_bath.png);
     background-repeat: no-repeat;
     width: 100px;
     margin: 10px;
}

.head_place {
     display: flex;
     justify-content: flex-end;
}

.price_by_night{
     width: 75px;
     height: 75px;
     color: #ff5a5f;
     border: 4px solid #ff5a5f;
     border-radius: 50%;
     font-size: 30px;

     /* size */
     margin-left: 20%;
     margin-bottom: 5%;
}


.price_by_night p{
     padding: 20px 10px;
     margin: 0px;
}

.information {
     /* size */
     height: 80px;

/* flexbox */
     display: flex;
     justify-content: center;
     align-items: center;

     /* color */
     border-bottom: 1px solid #DDDDDD;
     border-top: 1px solid #DDDDDD;
}

.information p {
     padding-top: 50px;
     margin: 0px;
}

.user p{
     margin-bottom: 0px;
}