
.filters {

     height: 70px;
     width: 100%;
     border: 1px solid #dddddd;
     border-radius: 4px;

     /* start with the flexbox */

     display: flex;
     justify-content: space-between;
}

.filters button {
     font-size: 18px;
     background-color: #DD5A5F;
     color: #ffffff;
     height: 48px;
     width: 20%;
     border-radius: 4px;
     border: 0;
     margin-right: 30px;

     /* start with the flexbox */
     align-self: center;
}

.menu {
     height: 100%;
     width: 50%;
     display: flex;
}


div.locations,  div.amenities{
     height: 100%;
     width: 60%;
     padding-left: 5%;
     /* start with the flexbox */
     /* Is to modificated the text */
     display: flex;
     flex-direction: column;
     justify-content: center;
}


div.locations {
     padding-right: 23%;
}




.locations h3,  .amenities h3{

     font-weight: 600;
     margin: 2px 20px;
     font-size: 20px;
}

.locations h4,  .amenities h4{
     font-weight: 400;
     font-size: 14px;
     margin: 2px 20px;
}

.filters button:hover {
     opacity: 90%;
}
.amenities {
     border-left: 1px solid  #DDDDDD;
}
